@model IEnumerable<FreeLancers4.Models.Work>

@{
    ViewData["Title"] = "Index";
    ViewData["name"] = "listings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="work-buttons">
    <div class="inputs-button">
        <a asp-controller="Histories" asp-action="Index"><button>Work History</button></a>
    </div>
    <div class="inputs-button">
        <a asp-controller="Histories" asp-action="Create"><button>Create New</button></a>
    </div>
</div>

<!--search bar boi -->

<div class="inputs-container">
        <div class="inputs-title">All Listings</div>
        <div class="inputs-subtitle">Search projects</div>

        <form id="account" method="post">
            <div class="input-div">
                <label>Search by project name:</label>
                <div class="actual-input">
                    <input type="text" name="SearchString">
                </div>
                <span class="error"></span>
            </div>
            <div class="input-div">
                <label>Skill type: </label>
                <div class="actual-input">
                    @Html.DropDownList("Skills", "All")
                </div>
                <span class="error"></span>
            </div>
            <div class="input-div">
                <label>Search by date:</label>
                <div class="actual-input">
                    <input input type ="date" name=" datesearch">
                </div>
                <span class="error"></span>
            </div>
            <div class="inputs-button">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>


<div class="client-work-card-container">
    @foreach (var item in Model)
    {
        <div class="client-work-card-div">
            <div class="client-work-card-section-1">
                <div class="project-name">@Html.DisplayFor(modelItem => item.ProjectTitle)</div>
                <div class="project-name-subheading">Posted:  @Html.DisplayFor(modelItem => item.PostDate) | Deadline: @Html.DisplayFor(modelItem => item.DueDate)</div>
                <div class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="skills">
                    @Html.DisplayFor(modelItem => item.Skills)
                </div>
            </div>

            <div class="client-work-card-section-2">
                <div class="client-work-card-section-2-top">$ @Html.DisplayFor(modelItem => item.Price)</div>
                <div class="client-work-card-section-2-bottom">

                    <a asp-action="Edit" asp-route-id="@item.ID" asp-route-projecttitle="@item.ProjectTitle">
                        <div class="client-work-card-section-2-bottom-button">
                            <button>Edit</button>
                        </div>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.ID">
                        <div class="client-work-card-section-2-bottom-button">
                            <button>Details</button>
                        </div>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.ID">
                        <div class="client-work-card-section-2-bottom-button">
                            <button>Delete</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    }
</div>

